@import url('https://fonts.googleapis.com/css2?family=Charis+SIL&family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Charis+SIL&family=Poppins:wght@500&display=swap');
*, *::before, *::after{
    box-sizing: border-box;
}

.miniz{
    padding-top: 50px;
}

.miniz{
    position: relative;
    top: -650px;
}

.Expert1{
    padding-left: 450px;
    position: relative;
    top: -905px;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    right: -75px;
    left: -20px;
}

.logo >img{
    align-content: inherit;
    align-items: flex-start;
    padding: 10px;
    clip-path: circle(50% at 50% 50%);
    margin-top: 13px;
    margin-left: 200px;
}

.logo{
    position: relative;
    top: -20px;
}
 
nav{
    width: 1110px;
    position: absolute;
    background: transparent;
    z-index: 1;
    display: inline;
    margin-left: 200px;
}

.logo{

   
    margin-top: 13px;
}


nav ul{
   text-align: right;
   display: inline;
   align-content: right;
}

ul a{
    float: right;
    padding: 5px 10px;
    margin-top: 15px;
    margin-right: 15px;
    font-size: 22px;
    color: black;
    text-decoration: none;
    align-items: flex-end;

}


nav ul a:hover{
    color: #FF9677;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    align-content: right;
    float: right;
    margin-right: 25px;
    margin-top: 10px;
    
}

.fa-instagram {
  background: transparent;
  color: black;
}

.fa-facebook {
    background: transparent;
    color: black;
  }  

.fa-bell {
    background: transparent;
    color: black;
}  

nav ul a::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #5e9387;
    display: block;
    margin: auto;
    transition: 0.5s;
}

nav ul a:hover::after{
    width: 100%;
    
}

.header{
    min-height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
        
}
body{

    margin: 0;
    height: 100vh;
    overflow-x: hidden;
}

.afflitate1{
    position: relative;
    top: -920px;
    right: -430px;
    
}

.rod{
    position: relative;
    top: -1010px;
    right: -130px;
}

.quote1{
    position: relative;
    top: -1000px;
    right: -80px;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
}

.rod::before{
    content:attr(title);
    visibility: visible;
    opacity: 1;
    background-color: black;
    text-align: center;
    transition: opacity 1s ease-in-out;
    position: absolute;
    z-index: 1;
    top: 100%;

}

.rod:hover{
    opacity: 1;
    visibility: visible;
}


.Expert2{
    padding-left: 450px;
    position: relative;
    top: -1000px;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    right: -110px;
    left: -15px;
}




.rod1{
    position: relative;
    top: -1130px;
    right: -130px;
}

.rod1::before{
    content:attr(title);
    visibility: visible;
    opacity: 1;
    background-color: black;
    text-align: center;
    transition: opacity 1s ease-in-out;
    position: absolute;
    z-index: 1;
    top: 100%;

}

.rod1:hover{
    opacity: 1;
    visibility: visible;
}

.quote2{
    position: relative;
    top: -1120px;
    right: -70px;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
}

.Expert3{
    padding-left: 450px;
    position: relative;
    top: -970px;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    right: -75px;
}

.rod2{
    position: relative;
    top: -1090px;
    right: -1170px;
}

.rod2::before{
    content:attr(title);
    visibility: visible;
    opacity: 1;
    background-color: black;
    text-align: center;
    transition: opacity 1s ease-in-out;
    position: absolute;
    z-index: 1;
    top: 100%;

}

.rod2:hover{
    opacity: 1;
    visibility: visible;
}

.quote3{
    position: relative;
    top: -1080px;
    right: -1115px;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
}

.Expert4{
    padding-left: 450px;
    position: relative;
    top: -880px;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    right: -75px;
}

.rod3{
    position: relative;
    top: -1000px;
    right: -1100px;
}

.quote4{
    position: relative;
    top: -990px;
    right: -1065px;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
}

.Expert5{
    padding-left: 450px;
    position: relative;
    top: -890px;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    right: -75px;
}

.afflitate2{
    position: relative;
    top: -900px;
    right: -525px;
}


.quote5{
    position: relative;
    top: -990px;
    right: -1065px;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
}

.rod3::before{
    content:attr(title);
    visibility: visible;
    opacity: 1;
    background-color: black;
    text-align: center;
    transition: opacity 1s ease-in-out;
    position: absolute;
    z-index: 1;
    top: 100%;

}

.rod3:hover{
    opacity: 1;
    visibility: visible;
}

.rod4{
    position: relative;
    top: -1000px;
    right: -1100px;
}

.rod4::before{
    content:attr(title);
    visibility: visible;
    opacity: 1;
    background-color: black;
    text-align: center;
    transition: opacity 1s ease-in-out;
    position: absolute;
    z-index: 1;
    top: 100%;

}

.rod4:hover{
    opacity: 1;
    visibility: visible;
}

.Expert6{
    padding-left: 450px;
    position: relative;
    top: -870px;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    right: -75px;
}

.afflitate2{
    position: relative;
    top: -880px;
    right: -525px;
}

.rod5{
    position: relative;
    top: -1010px;
    right: -1100px;
}

.rod5::before{
    content:attr(title);
    visibility: visible;
    opacity: 1;
    background-color: black;
    text-align: center;
    transition: opacity 1s ease-in-out;
    position: absolute;
    z-index: 1;
    top: 100%;

}

.rod5:hover{
    opacity: 1;
    visibility: visible;
}


.quote6{
    position: relative;
    top: -990px;
    right: -1065px;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
}

.Expert7{
    padding-left: 450px;
    position: relative;
    top: -890px;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    right: -75px;
}

.afflitate3{
    position: relative;
    top: -900px;
    right: -525px;
}

.rod6{
    position: relative;
    top: -1040px;
    right: -1100px;
}

.rod6::before{
    content:attr(title);
    visibility: visible;
    opacity: 1;
    background-color: black;
    text-align: center;
    transition: opacity 1s ease-in-out;
    position: absolute;
    z-index: 1;
    top: 100%;

}

.rod6:hover{
    opacity: 1;
    visibility: visible;
}

.quote7{
    position: relative;
    top: -1020px;
    right: -1065px;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
}

.rod7{
    position: relative;
    top: -950px;
    right: -1100px;
}

.rod7::before{
    content:attr(title);
    visibility: visible;
    opacity: 1;
    background-color: black;
    text-align: center;
    transition: opacity 1s ease-in-out;
    position: absolute;
    z-index: 1;
    top: 100%;

}

.rod7:hover{
    opacity: 1;
    visibility: visible;
}

.quote8{
    position: relative;
    top: -935px;
    right: -1065px;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
}

.afflitate4{
    position: relative;
    top: -860px;
    right: -525px;
}

.Expert8{
    padding-left: 450px;
    position: relative;
    top: -855px;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    right: -75px;
}

.rod8{
    position: relative;
    top: -970px;
    right: -1100px; 
}

.rod8::before{
    content:attr(title);
    visibility: visible;
    opacity: 1;
    background-color: black;
    text-align: center;
    transition: opacity 1s ease-in-out;
    position: absolute;
    z-index: 1;
    top: 100%;

}

.rod8:hover{
    opacity: 1;
    visibility: visible;
}

.quote9{
    position: relative;
    top: -955px;
    right: -1065px;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
}

.Expert9{
    padding-left: 450px;
    position: relative;
    top: -880px;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    right: -75px;
}

.afflitate5{
    position: relative;
    top: -895px;
    right: -525px;
}

.rod9{
    position: relative;
    top: -1040px;
    right: -1100px; 
}

.rod9::before{
    content:attr(title);
    visibility: visible;
    opacity: 1;
    background-color: black;
    text-align: center;
    transition: opacity 1s ease-in-out;
    position: absolute;
    z-index: 1;
    top: 100%;

}

.rod9:hover{
    opacity: 1;
    visibility: visible;
}

.quote10{
    position: relative;
    top: -1023px;
    right: -1065px;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
}

.afflitate6{
    position: relative;
    top: -900px;
    right: -525px;
}

.crafty{
    padding-top: 50px;
    position: relative;
    top: -720px;
    right: -960px;
}

.sushmita{
    padding-top: 50px;
    position: relative;
    top: -750px;
}

.Divya{
    padding-top: 50px;
    position: relative;
    top: -790px;
    right: -1000px;
}