@import url('https://fonts.googleapis.com/css2?family=Charis+SIL&family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Charis+SIL&family=Poppins:wght@500&display=swap');
*, *::before, *::after{
    box-sizing: border-box;
}

.miniz{
    padding-top: 50px;
}

.miniz{
    position: relative;
    top: -650px;
}

.Expert1{
    padding-left: 450px;
    position: relative;
    top: -905px;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    right: -75px;
    left: -20px;
}

.logo >img{
    align-content: inherit;
    align-items: flex-start;
    padding: 10px;
    clip-path: circle(50% at 50% 50%);
    margin-top: 13px;
    margin-left: 200px;
}

.logo{
    position: relative;
    top: -20px;
}
 
nav{
    width: 1110px;
    position: absolute;
    background: transparent;
    z-index: 1;
    display: inline;
    margin-left: 200px;
}

.logo{

   
    margin-top: 13px;
}


nav ul{
   text-align: right;
   display: inline;
   align-content: right;
}

ul a{
    float: right;
    padding: 5px 10px;
    margin-top: 15px;
    margin-right: 15px;
    font-size: 22px;
    color: black;
    text-decoration: none;
    align-items: flex-end;

}


nav ul a:hover{
    color: #FF9677;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    align-content: right;
    float: right;
    margin-right: 25px;
    margin-top: 10px;
    
}

.fa-instagram {
  background: transparent;
  color: black;
}

.fa-facebook {
    background: transparent;
    color: black;
  }  

.fa-bell {
    background: transparent;
    color: black;
}  

nav ul a::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #5e9387;
    display: block;
    margin: auto;
    transition: 0.5s;
}

nav ul a:hover::after{
    width: 100%;
    
}

.header{
    min-height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
        
}
body{

    margin: 0;
    height: 100vh;
    overflow-x: hidden;
}

.box{
    width: 300px;
    box-shadow: 2px 2px 30px rgba(0,0,0,0.2);
    border-radius: 10px;
    overflow: hidden;
    /*position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);*/
}

.slider{
    height: 250px;
    position: relative;
}

.slider img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-sizing: border-box;
}

.detail{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    box-sizing: border-box;
}

.type{
    display: flex;
    flex-direction: column;
}

.type span{
    color: black;
    font-weight: 500;
    position: relative;
    right: -30px;
}

.flipkart{
     position: relative;
     right: -10px;
}

.Amazon{
    position: relative;
    left: -80px;
}

.box:hover{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
