img{
    width: 160px;
    align-content: inherit;
    align-items: flex-start;
    padding: 10px;
    height: 100px;
    clip-path: circle(50% at 50% 50%);
    margin-top: 13px;
    margin-left: 200px;
}
 
nav{
    display: inline;
}


nav ul{
   text-align: right;
   display: inline;
   align-content: right;
}

ul a{
    float: right;
    padding: 5px 10px;
    margin-top: 15px;
    margin-right: 15px;
    font-size: 22px;
    color: black;

}

nav ul a:hover{
    color: #FF9677;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    align-content: right;
    float: right;
    margin-right: 25px;
    margin-top: 10px;
    
}

.fa-instagram {
  background: #55ACEE;
  color: white;
}  

.fa-facebook {
    background: #55ACEE;
    color: white;
  }  

.fa-bell {
    background: #55ACEE;
    color: white;
}  

